section {

    div,
    h1,
    p,
    h4 {
        width: 85vw;
        margin: auto;
    }

    h1 {

        font-weight: 500;
        color: #343434;
        font-size: 18px;
    }

}

section#hiremeintro,
section#testimonials,
section.form {
    p {
        margin-bottom: 4vw;
    }

    h3 {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
        color: #636363;
        letter-spacing: 0.1em;
        margin: 6vw auto 4.8vw auto;
        width: 85vw;
    }
}

section#testimonials {
    div {
        background-color: #f8f8f8;
        border-left: 2vw solid #343434;

        p,
        h4 {
            width: 85vw;
            padding: 3vw 5vw 3vw 4vw;
            box-sizing: border-box;
        }

        p {
            padding-bottom: 0;
        }

        h4 {
            text-align: right;
            font-weight: normal;
        }
    }
}



section.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // @include desktop {}

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85vw;

        div.wideblock {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 85vw;

            // @include desktop {
            //     flex-direction: row;
            //     align-items: center;
            //     justify-content: space-between;
            // }

            div.formconts {
                display: flex;
                flex-direction: column;
                width: 100%;

                // @include desktop {
                //     display: flex;
                //     flex-direction: column;
                //     width: 47.5%;
                // }
            }
        }

        label {
            font-size: 1.3em;
            font-weight: 100;
        }

        label,
        input,
        textarea {
            transition: box-shadow 0.5s;
            -webkit-transition: box-shadow 0.5s;
            outline: none;
            border-style: none;
            margin-top: 4vw;

            // @include desktop {
            //     margin-top: 2vw;
            // }
        }

        textarea {
            max-width: 75vw;
        }

        textarea,
        input#firstname,
        input#surname,
        input#email,
        input#company {
            background-color: #f8f8f8;
            padding: 3vw;
            font-size: 1em;
            font-family: 'Avenir';

            // @include desktop {
            //     padding: 2vw;
            // }
        }

        input:hover,
        textarea:hover {
            box-shadow: 0 0px 5px rgba(184, 229, 255, 0.9);
            outline: none;
        }
    }
}

div.button-container {
    margin: 5vw 0;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        padding: 2vw;
        background-color: #459BE1;
        color: #fff;
        border-radius: 25px;
        font-size: 0.9em;
        width: 66.6%;
        font-family: 'Avenir';
        font-size: 1.1em;
        text-transform: uppercase;
        border: none;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);

        //   @include desktop {
        //     width: 25%;
        //     padding: 1vw;
        //   }
    }
}