* {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label {
  font-family: "Avenir", "Nunito Sans"; }

p {
  letter-spacing: 0.01em; }

img {
  width: 20vw; }

header {
  background-color: #459BE1; }
  @media (min-width: 840px) {
    header {
      background-color: #fff; } }
  header a {
    text-decoration: none;
    color: #ffffff;
    text-align: center; }
    @media (min-width: 840px) {
      header a {
        text-align: left;
        color: #000; } }
    header a h1 {
      padding: 5vw 0 4vw 0;
      font-weight: 100;
      font-size: 20px; }
      @media (min-width: 840px) {
        header a h1 {
          padding: 3vw 0 2vw 0;
          width: 85vw;
          margin: auto;
          font-weight: 500; } }
  header img {
    width: 20vw; }
  header nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0; }
    @media (min-width: 840px) {
      header nav {
        width: 85vw;
        margin: auto;
        padding-top: 0; } }
    header nav ul {
      list-style-type: none;
      display: flex;
      justify-content: center; }
      header nav ul li {
        padding: 0 3vw; }
        @media (min-width: 840px) {
          header nav ul li {
            padding: 0 1vw 0 0; } }
        @media (min-width: 840px) {
          header nav ul li a {
            color: #aaaaaa; } }
        header nav ul li i.fab {
          font-size: 25px; }
    header nav ul#nav-ul li {
      font-size: 15px;
      font-weight: bold; }

main section div div.intro {
  display: flex;
  flex-direction: column; }
  @media (min-width: 840px) {
    main section div div.intro {
      width: 85vw;
      margin: auto; } }
  main section div div.intro h1,
  main section div div.intro img {
    width: 85vw;
    margin: auto; }
  main section div div.intro img {
    margin: 4.2vw auto; }
    @media (min-width: 840px) {
      main section div div.intro img {
        width: 45vw;
        margin: 2vw 0; } }
  main section div div.intro h1 {
    font-weight: 500;
    color: #343434;
    font-size: 18px;
    margin-bottom: 5.3vw; }
    @media (min-width: 840px) {
      main section div div.intro h1 {
        font-size: 2em;
        margin: 1vw 0;
        font-weight: normal; } }

@media (min-width: 840px) {
  main section div .action-box-container {
    width: 85vw;
    margin: auto; } }

main section div div.action-box {
  width: 85vw;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 3px;
  margin-bottom: 13.3vw; }
  @media (min-width: 840px) {
    main section div div.action-box {
      width: 35vw;
      padding: 1vw;
      box-sizing: border-box;
      margin: 0;
      justify-content: center; } }
  main section div div.action-box a {
    text-align: center;
    margin: 2vw auto;
    font-size: 15px;
    width: 73vw;
    text-decoration: none; }
    @media (min-width: 840px) {
      main section div div.action-box a {
        width: 25vw; } }
    main section div div.action-box a i {
      font-size: 10px; }
  main section div div.action-box a#email {
    text-transform: uppercase;
    background-color: #459be1;
    border-radius: 2px;
    padding: 1vw 0;
    margin: 4.7vw auto 4vw auto;
    color: #fff;
    letter-spacing: 0.1em; }
    @media (min-width: 840px) {
      main section div div.action-box a#email {
        margin: auto;
        padding: 0.5vw 0; } }
  main section div div.action-box a#hirelink {
    margin: 0 auto 4.8vw auto;
    color: #459BE1; }
    @media (min-width: 840px) {
      main section div div.action-box a#hirelink {
        margin: 1vw auto 0 auto; } }

main section#work,
main section#skills,
main section#clients {
  width: 85vw;
  margin: auto; }
  main section#work h4,
  main section#skills h4,
  main section#clients h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    color: #636363;
    letter-spacing: 0.1em;
    margin-bottom: 4.8vw;
    margin-top: 8vw; }
    @media (min-width: 840px) {
      main section#work h4,
      main section#skills h4,
      main section#clients h4 {
        margin-top: 5vw;
        margin-bottom: 3vw;
        font-size: 1.1em; } }

main section#work div.work-tile a {
  text-decoration: none;
  color: #343434;
  border-bottom: solid 1px #343434;
  font-size: 18px; }
  @media (min-width: 840px) {
    main section#work div.work-tile a {
      font-size: 1.45em; } }

main section#work div.work-tile p {
  font-size: 16px;
  font-weight: 100;
  margin: 2.6vw 0;
  color: #636363; }
  @media (min-width: 840px) {
    main section#work div.work-tile p {
      margin: 1.8vw 0;
      font-size: 1.3em; } }
  main section#work div.work-tile p a {
    font-size: 16px;
    border-bottom: dashed 0.5px #459BE1; }
    @media (min-width: 840px) {
      main section#work div.work-tile p a {
        font-size: 1em; } }

main section#skills h5 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  color: #343434;
  letter-spacing: 0.1em;
  margin-bottom: 1.7vw; }

main section#clients p {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 9.3vw;
  color: #343434; }
  @media (min-width: 840px) {
    main section#clients p {
      font-size: 1.2em; } }

footer {
  display: flex;
  flex-direction: column;
  background-color: #45A9E1; }
  footer h1,
  footer p,
  footer a,
  footer ul,
  footer span {
    width: 85vw;
    margin: auto; }
  footer h1 {
    font-size: 16px;
    font-weight: normal;
    color: #000;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 5.3vw auto 0 auto; }
    @media (min-width: 840px) {
      footer h1 {
        margin: 3vw auto 0 auto; } }
  footer p {
    font-size: 17px;
    color: #fff;
    margin: 2.65vw auto; }
    @media (min-width: 840px) {
      footer p {
        margin: 1vw auto; } }
    footer p a {
      text-decoration: none;
      color: #000;
      font-weight: 500; }
  footer a {
    font-size: 17px;
    text-decoration: none;
    color: #000;
    margin-bottom: 2vw; }
    @media (min-width: 840px) {
      footer a {
        margin: 0 auto 1vw auto; } }
  footer ul {
    list-style-type: none;
    display: flex;
    margin: 2vw auto; }
    @media (min-width: 840px) {
      footer ul {
        margin: 0 auto; } }
    footer ul li {
      margin: 0 4vw 0 0; }
      @media (min-width: 840px) {
        footer ul li {
          margin: 0 1vw 0 0; } }
  footer span {
    color: #000;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-transform: uppercase;
    margin: 6vw auto 5.3vw auto; }
    @media (min-width: 840px) {
      footer span {
        margin: 3.5vw auto 3vw auto; } }
